;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "0.8.0-alpha2"]
  [re-frame "0.10.5"]
  [cljs-web3 "0.19.0-0-11"]
  [district0x.re-frame/web3-fx "1.0.4"]
  [day8.re-frame/http-fx "0.1.5"]
  [com.7theta/re-frame-fx "0.2.0"]
  [day8.re-frame/trace "0.1.19-react16"]
  [cljs-ajax "0.7.3"]
  [thheller/shadow-cljsjs "0.0.15"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-paths "/js"
        :modules {:core {:entries [twittos.core]}}
        :devtools {:after-load twittos.core/mount!
                   :preloads [day8.re-frame.trace.preload]}
        :compiler-options
        {:infer-externs :auto
         :closure-defines {re-frame.trace.trace-enabled? true}}}}}
