;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "0.8.0-alpha2"]
  [re-frame "0.10.5"]
  ]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-paths "/js"
        :modules {:core {:entries [twittos.core]}}
        :devtools {:after-load twittos.core/mount!}
        :compiler-options {:infer-externs :auto}
        }}}
