;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "0.8.0-alpha2"]
  [re-frame "0.10.5"]
  ]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-paths "/js"
        :modules {:main {:entries [twittos.main]}}
        :devtools {:after-load twittos.main/mount}
        }}}
